Repository cnheider/eqip: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linter, test-unit, test-qgis, sonarcloud-check, pages

linter:
  image: python:3.9-slim-buster
  stage: 🐍 lint
  tags:
  - docker
  before_script:
  - python -m pip install -U flake8
  script:
  - flake8 $PROJECT_FOLDER --count --select=E9,F63,F7,F82 --show-source --statistics
  - flake8 $PROJECT_FOLDER --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

test-unit:
  stage: 🤞 test
  image: python:3.9-slim-buster
  tags:
  - docker
  before_script:
  - python3 -m pip install -U -r requirements/development.txt
  - python3 -m pip install -U -r requirements/testing.txt
  script:
  ...

test-qgis:
  stage: 🤞 test
  image: qgis/qgis:release-3_22
  tags:
  - docker
  variables:
    DISPLAY: :1
    PYTHONPATH: /usr/share/qgis/python/plugins:/usr/share/qgis/python:.
  before_script:
  - python3 -m pip install -U -r requirements/testing.txt
  - Xvfb :1 &
  script:
  ...

sonarcloud-check:
  stage: 🤞 test
  tags:
  - docker
  needs:
  - test-unit
  - test-qgis
  variables:
    SONAR_USER_HOME: ${CI_PROJECT_DIR}/.sonar
    GIT_DEPTH: '0'
  image:
    name: sonarsource/sonar-scanner-cli:latest
  cache:
    key: ${CI_JOB_NAME}
    paths:
    - .sonar/cache
  script:
  - sonar-scanner

pages:
  stage: 🚀 deploy
  tags:
  - docker
  variables:
    GIT_STRATEGY: none
  needs:
  - builder
  - documentation
  script:
  - mkdir -p public
  - cp ${PROJECT_FOLDER}.*.zip public/
  - cp plugins.xml public/
  - cp -rf target/docs/* public/
  artifacts:
    paths:
    - public
    when: always

ready check requirements of installed packages
  .docker/run-docker-tests.sh
  .gitattributes
  .github/workflows/push-translations.yml
  .github/workflows/pycodestyle.yml
  .github/workflows/pytest.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .qgis-plugin-ci
  README.md
  dev_install_plugin.py
  dev_requirements.txt
  entry_points.py
  eqip/configuration/__init__.py
  eqip/configuration/options.py
  eqip/configuration/piper.py
  eqip/configuration/settings.py
  eqip/plugins/hook.py
  eqip/utilities/paths.py
  gitlab-ci.yml
  pb_tool.cfg
  plugin.py
  plugin_upload.py
  pyproject.toml
  requirements.txt
  resources.py
  scripts/compile.bat
  scripts/compile.sh
  scripts/install_reqs.bat
  scripts/run-env-linux.sh
  scripts/update-strings.sh
  setup.cfg
  test/qgis_interface.py
  test/tenbytenraster.prj
  test/test_resources.py
  test/test_symlink_path.py
  test/test_translations.py
  test/utilities.py
  test/widgets/test_dock_widget.py
Due: linter, test-unit, test-qgis, sonarcloud-check, pages

update pre-commit package version
  .pre-commit-config.yaml
Due: none

install from requirements.txt file directly
  eqip/configuration/options.py
  eqip/configuration/options.ui
  eqip/configuration/pip_parsing.py
  eqip/configuration/piper.py
  eqip/configuration/settings.py
  eqip/plugins/hook.py
  eqip/plugins/requirement_resolution.py
  eqip/plugins/search.py
  eqip/utilities/paths.py
Due: linter, test-unit, test-qgis, sonarcloud-check

handle logging in subprocess
  eqip/configuration/piper.py
Due: linter, test-unit, test-qgis, sonarcloud-check

read metadata for package information
  eqip/__init__.py
  eqip/constants.py
  metadata.txt
Due: linter, test-unit, test-qgis, sonarcloud-check

handle some unnice things
  eqip/configuration/options.py
  eqip/configuration/pip_parsing.py
  eqip/constants.py
  eqip/utilities/paths.py
  metadata.txt
  requirements.txt
  requirements_dev.txt
  scripts/install_reqs.bat
Due: linter, test-unit, test-qgis, sonarcloud-check

local fix
  eqip/configuration/piper.py
  metadata.txt
  requirements.txt
  test/qgis_interface.py
Due: linter, test-unit, test-qgis, sonarcloud-check

make deployable
  .github/workflows/disabled/docker_qgis.yml
  .github/workflows/release_qgis_plugin_ci.yml
  .pre-commit-config.yaml
  .qgis-plugin-ci
  README.md
  __init__.py
  dev_install_plugin.py
  eqip/LICENSE.md
  eqip/eqip_plugin.py
  eqip/help/__init__.py
  eqip/help/make.bat
  eqip/help/source/__init__.py
  eqip/help/source/conf.py
  eqip/help/source/index.rst
  eqip/i18n/af.ts
  eqip/icon.png
  eqip/icons/pypi.png
  eqip/icons/pypi.svg
  eqip/icons/snake_bird.png
  eqip/icons/snake_bird.svg
  eqip/images/demo.png
  eqip/metadata.txt
  eqip/qgis_styles/style_already_changed.qml
  eqip/qgis_styles/style_blue_outline.qml
  eqip/qgis_styles/style_buildings.qml
  eqip/qgis_styles/style_color_diff.qml
  eqip/qgis_styles/style_green_outline.qml
  eqip/qgis_styles/style_intersections.qml
  eqip/qgis_styles/style_red_outline.qml
  eqip/qgis_styles/style_seamlines.qml
  eqip/qgis_styles/style_verified.qml
  eqip/qgis_styles/style_windmill_intersections.qml
  eqip/qgis_styles/style_xcorr.qml
  eqip/requirements.txt
  eqip/resources.py
  plugin_upload.py
Due: linter, test-unit, test-qgis, sonarcloud-check, pages

osgeo upload
  .github/workflows/release_qgis_plugin_ci.yml
  .pre-commit-config.yaml
  eqip/resources.py
  resources.qrc
Due: linter, test-unit, test-qgis, sonarcloud-check

try first release
  .github/workflows/release_qgis_plugin_ci.yml
Due: none

try this
  .github/workflows/release_qgis_plugin_ci.yml
  .qgis-plugin-ci
  CHANGELOG.md
  eqip/metadata.txt
  eqip/resources.py
  pyproject.toml
Due: linter, test-unit, test-qgis, sonarcloud-check, pages

setup.cfg ci
  setup.cfg
Due: none

bump
  README.md
  eqip/metadata.txt
Due: pages

try first release
  .github/workflows/release.yml
  .github/workflows/release_qgis_plugin_ci.yml
  .qgis-plugin-ci
  CHANGELOG.md
  README.md
  eqip/metadata.txt
  eqip/resources.py
  pyproject.toml
  setup.cfg
Due: linter, test-unit, test-qgis, sonarcloud-check, pages

Path conditions:
  linter: any of: **/*.py
  test-unit: any of: **/*.py, .gitlab-ci.yml
  test-qgis: any of: **/*.py, .gitlab-ci.yml
  sonarcloud-check: any of: **/*.py, .gitlab-ci.yml
  pages: any of: **/*.md, **/*.rst, **/*.ts, .gitlab-ci.yml, french_locator_filter/**/*, requirements/documentation.txt, requirements/packaging.txt
